@{
    ViewData["Title"] = "Home Page";
}

 
<section id="header-page">
    <div class="background-headline">
        <h1 class="display-4">Welcome</h1>
    </div>
</section>

<section id="body">
    <div>
        <p>Thank you for visiting my Web Page.</p>
    </div>
</section>

