@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "ABOUT ME";
}
<h1>@ViewData["Title"]</h1>

<div class="TwoSection-TextImage">
    <div class="text">
        
        <blockquote>
            <p>Digital marketing inspires me because I can be creative and learn while reaching people worldwide with meaningful messages.</p>
        </blockquote>

        <P>I earned my bachelor's degree in business administration. After gaining some experience in that field, I decided to make a new journey in Europe, following my passion for digital marketing.

            I obtained my master's degree in Marketing and Management from the <span class="text-background">University of Siena</span>, followed by one year of study at <span class="text-background">Jönköping International Business University. </span>
        </p>

        <p>After graduating, I started as an intern at Science Park in Jönköping with a design consulting company, which eventually led to a year-long collaboration as a digital marketer.</p>

        <p>This experience inspired me to launch my own marketing consulting business, focused on assisting SMEs and small companies in improving their market presence. Along the way, I changed my career to full-time recruitment.</p>

        <p>Throughout my professional journey, I've had the privilege of working with industry-leading companies such as: <b>Hyundai Construction Equipment Europe</b>, <b>ITAB</b>, and <b>Mobitron</b>.
        </p>
        
        <p>These experiences have equipped me with a solid foundation in various digital marketing strategies, including:
        Website management, SEO optimization, Graphic design, Social media advertising, Data analysis
        </p>
                    
        <p>
            As a person, I'm : Organized, Adaptable, and Positive.

        </p>
                
        <p>I approach my work with responsibility and ensure tasks are completed on time.</p>

        <p>Looking back on my career, I'm amazed at the path it has taken me on, and I'm excited to see what the future holds.</p>

    </div>
    <div class="photo">
        <img src="~/Images/Ryan-MyPersonalPhoto.jpg" alt="Ryan-MyPersonalPhoto">
    </div>
</div>